<div class="row">
  <div class="col-md-4">
    <%= render 'side',{book:@book} %>

  </div>

  <div class="col-md-8">
      <table class="table">
        <h1>Books</h1>
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
        <%= render @books %>
      </table>

  </div>
</div>
